<form (ngSubmit)="onSubmit()">
  <label for="cardNumber">Card Number:</label>
  <input type="text" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" required>

  <label for="squad">Squad:</label>
  <input type="text" id="squad" [(ngModel)]="squad" name="squad" required>

  <label for="cardTitle">Card Title:</label>
  <input type="text" id="cardTitle" [(ngModel)]="cardTitle" name="cardTitle" required>

  <label for="workType">Work Type:</label>
  <select id="workType" [(ngModel)]="workType" name="workType" required>
    <option value="docs">Documentação: apenas mudanças de documentação</option>
    <option value="feat">Funcionalidade: uma nova funcionalidade</option>
    <option value="fix">Correção: a correção de um bug</option>
    <option value="perf">Performance: mudança de código focada em melhorar performance</option>
    <option value="refactor">Refatoração: mudança de código que não adiciona uma funcionalidade e também não corrige um bug</option>
    <option value="style">Estilo: mudanças no código que não afetam seu significado (espaço em branco, formatação, ponto e vírgula, etc)</option>
    <option value="test">Teste: adicionar ou corrigir testes</option>
  </select>

  <label for="environment">Environment:</label>
  <select id="environment" [(ngModel)]="environment" name="environment" required>
    <option value="GMS-ERP">On-premisse</option>
    <option value="AZDE">Azure</option>
  </select>

  <button type="submit">Generate</button>
</form>

<div *ngIf="outputBranch">
  <h3>Branch Name:</h3>
  <p>{{ outputBranch }}
    <button class="copy-button" (click)="copyToClipboard(outputBranch, 'branch')">
      📋
    </button>
    <span *ngIf="copiedBranch" class="copied-tag">Copiado!</span>
  </p>
</div>

<div *ngIf="outputCommit">
  <h3>Commit Message:</h3>
  <p>{{ outputCommit }}
    <button class="copy-button" (click)="copyToClipboard(outputCommit, 'commit')">
      📋
    </button>
    <span *ngIf="copiedCommit" class="copied-tag">Copiado!</span>
  </p>
</div>

<div *ngIf="showGif">
  <img [src]="gifUrl" alt="Surprise GIF" (click)="onImageClick()"> <!-- Adicione o evento de clique -->
</div>

<iframe width="110" height="200" src="https://www.myinstants.com/instant/yamate-kudasai-47380/embed/" frameborder="0" scrolling="no"></iframe>